@page "{id}"
@model RecipeApp.Pages.Recipe.DetailsModel

@{
	ViewData["Title"] = "Details";
	bool x = Model.flag;
}

<link href="~/css/jquery.rateyo.min.css" rel="stylesheet" />

<h1>Details</h1>

<div>
	<h4>Recipe</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.ImageUrl)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.ImageUrl)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.Cuisine)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.Cuisine)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.DifficultyLevel)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.DifficultyLevel)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.PreparationTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.PreparationTime)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.CookingTime)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.CookingTime)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.Servings)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.Servings)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Recipe.AuthorId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Recipe.AuthorId)
		</dd>
	</dl>
</div>

<br />
<p>Add it to your favourite</p>

<form method="post">
	<div>
		<img src="~/images/favouriteButton.png" style="height: 50px; width: 50px;" />
		<input asp-for="flag" type="checkbox" class="btn btn-primary" style="height: 35px; width: 35px;" checked="@(Model.controlVal == true ? true : false)" />
		<div id="rateIt"></div>
		<br />
		<input name="_rate" type="hidden" id="rating" />
		<button type="submit" class="btn btn-primary" id="getRating">Rate it!</button>
	</div>
</form>
<br />


<div>
	<a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Recipe?.Id">Edit</a> |
	<a asp-page="./Index" class="btn btn-primary">Back to List</a> 
	
	
</div>


<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.rateyo.min.js"></script>

<script type="text/javascript">
	$(function () {

		var $rateYo = $("#rateIt").rateYo({
			rating: 0,
			fullStar: true,
			onChange: function (rating, rateYoInstance) {
				$('#rating').val(rating);
			}
		});


	});
</script>

